.btn {
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg, #000000, #333333);
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    color: #ffdab9;
    margin-bottom: 50px;
    font-size: 15px;
}

.btn:active {
    border: 5px solid #083b3b;
    color: #0baaaa;
}

.main-box {
    text-align: center;
}

.ball-number {
    display: flex;
}

.App {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    background-image: url("https://png.pngtree.com/background/20230425/original/pngtree-lucky-lotto-ball-which-is-covered-with-mud-and-water-haze-picture-image_2467021.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}